<template>
<section  id="header">
  <div class="flexible-content">

    <mdb-navbar class="flexible-navbar indigo" light position="top" scrolling> 
        <mdb-navbar-nav left>  
         <mdb-navbar-brand href="#">
             <a class="logo-wrapper">
             <img src="@/assets/logo/os-logo.png" height="41" alt=""/>
             <img src="@/assets/logo/libra-system.png" height="41" alt=""/>
             </a> 
         </mdb-navbar-brand>
        </mdb-navbar-nav>

      <mdb-navbar-toggler>
        <mdb-navbar-nav right>
          <div class="topbar-divider d-none d-sm-block"></div>
        <mdb-dropdown tag="li" class="nav-item">
          <mdb-dropdown-toggle  class="text-white" tag="a" navLink color="indigo" slot="toggle" waves-fixed>
            <mdb-icon fas class="text-white" icon="list-ul"/></mdb-dropdown-toggle>
            
          <mdb-dropdown-menu>
            <div class="dropdown-divider"></div>
             <mdb-dropdown-item><mdb-icon fas class="text-black text-gray-800" icon="sign-out-alt"/>  Logout</mdb-dropdown-item>
          </mdb-dropdown-menu>
        </mdb-dropdown>
      </mdb-navbar-nav>
      </mdb-navbar-toggler>
    </mdb-navbar>

    <main>
      <div class="p-5"></div>
    </main>

  </div>
</section>
</template>

<script>
import {
  mdbNavbar,
  mdbNavbarNav,
  mdbNavbarBrand,
  mdbNavbarToggler,
  mdbDropdown,
  mdbDropdownMenu,
  mdbDropdownItem,
  mdbDropdownToggle,
  mdbIcon,
  waves
} from "mdbvue";

export default {
  name: "Header",
  components: {
    mdbNavbar,
    mdbNavbarNav,
    mdbNavbarBrand,
    mdbNavbarToggler,
    mdbDropdown,
    mdbDropdownMenu,
    mdbDropdownItem,
    mdbDropdownToggle, 
    mdbIcon,
  },
  data() {
    return {
      activeItem: 1
    };
  },
  beforeMount() {
    this.activeItem = this.$route.matched[0].props.default.page;
  },
  mixins: [waves]
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

main {
  color: #5a5c69;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  background-color: #fff;
}
.cascading-admin-card {
  margin: 20px 0;
}
.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}
.cascading-admin-card .admin-up .fas,
.cascading-admin-card .admin-up .far {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}
.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #fff;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
.text-gray-800 {
  color: #5a5c69 !important
}
.flexible-content {
  transition: padding-left 0.3s;
  padding-left: 270px;
}

.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 10px;
  background-color: #fff;
}

.sidebar-fixed {
  left: 0;
  top: 50px;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1000;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}

.sidebar-fixed .logo-wrapper img {
  width: 90%;
  padding: 2.5rem;
}

.sidebar-fixed .list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.sidebar-fixed .list-group .active {
  background-color: #3f51b5;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }
}
.flexible-navbar .topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
}
.text-gray-800 {
  color: #5a5c69 !important;
}
.dropdown-toggle:after {
 display: none;
}
</style>
