<template>
<section id="sidenav">
  <div class="flexible-content">

    <div class="sidebar-fixed position-fixed">
      <a class="logo-wrapper"></a>
      <div class="dropdown-divider"></div>
      <br>
      <br>

      <mdb-list-group class="list-group-flush">
        <div class="dropdown-divider"></div>
         <br>
        <router-link to="/Dashboard" @click.native="activeItem = 2">
          <mdb-list-group-item  :action="true"  :class="activeItem === 2 && 'active'">
            <mdb-icon icon="tachometer-alt" class="mr-3"/> Dashboard</mdb-list-group-item>
        </router-link>

        <router-link to="/Patronmanagement" @click.native="activeItem = 3">
          <mdb-list-group-item :action="true" :class="activeItem === 3 && 'active'" >
            <mdb-icon icon="table" class="mr-3" /> Patron Management</mdb-list-group-item >
        </router-link>

        <router-link to="/Bookmanagement" @click.native="activeItem = 4">
          <mdb-list-group-item :action="true" :class="activeItem === 4 && 'active'" >
            <mdb-icon icon="book-open" class="mr-3" /> Book Management</mdb-list-group-item >
        </router-link>

        <router-link to="/Settings" @click.native="activeItem = 5">
          <mdb-list-group-item :action="true" :class="activeItem === 5 && 'active'" >
            <mdb-icon icon="cog" class="mr-3" /> Settings</mdb-list-group-item >
        </router-link>
      </mdb-list-group>

    </div>

    <main>
      <div class="p-5"> </div>
    </main>
    
  </div>
</section>
</template>

<script>
import {
  mdbIcon,
  mdbListGroup,
  mdbListGroupItem,
  waves
} from "mdbvue";

export default {
  name: "Sidenav",
  components: {
    mdbListGroup,
    mdbListGroupItem,
    mdbIcon,
  },
  data() {
    return {
      activeItem: 1
    };
  },
  beforeMount() {
    this.activeItem = this.$route.matched[0].props.default.page;
  },
  mixins: [waves]
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

main {
  color: #5a5c69;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  background-color: #fff;
}
.cascading-admin-card {
  margin: 20px 0;
}
.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}
.cascading-admin-card .admin-up .fas,
.cascading-admin-card .admin-up .far {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}
.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #fff;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
.text-gray-800 {
  color: #5a5c69 !important
}
.flexible-content {
  transition: padding-left 0.3s;
  padding-left: 270px;
}

.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 10px;
  background-color: #fff;
}
.sidebar-fixed {
  left: 0;
  top: 50px;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1000;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}

.sidebar-fixed .logo-wrapper img {
  width: 90%;
  padding: 2.5rem;
}

.sidebar-fixed .list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.sidebar-fixed .list-group .active {
  background-color: #3f51b5;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }
}
.flexible-navbar .topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
}
.text-gray-800 {
  color: #5a5c69 !important;
}
.dropdown-toggle:after {
 display: none;
}
</style>

