<template>
  <section id="barchart">

    <section>
         <mdb-row>

          <mdb-col>
              <mdb-card>
                    <mdb-card-header class="m-0 font-weight-bold text-dark text-gray-800"> 
                        Barrowed and Returned Books
                    </mdb-card-header>
                  <mdb-card-body>
                      <div style="display: block">
                        <mdb-bar-chart :data="barChartData" :options="barChartOptions" :height="350"/>
                      </div>
                  </mdb-card-body>
              </mdb-card>
          </mdb-col>

        </mdb-row>
    </section>
    
  </section>
</template>

<script>
import { 
  mdbCol,
  mdbRow,
  mdbCard,
  mdbCardHeader, 
  mdbCardBody, 
  mdbBarChart,
  } from 'mdbvue'

export default {
  name: 'BarChart',
  components: {
    mdbRow,
    mdbCol,
    mdbCard,
    mdbCardHeader,
    mdbCardBody,
    mdbBarChart,
  },
  data () {
    return {

      barChartData: {
        labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
        datasets: [
          {
            label: 'Barrowed',
            data: [89, 190, 300, 480, 328, 445, 60],
            backgroundColor: "#3f51b5",
            borderWidth: 1
          }, {
            label: 'Returned',
            data: [45, 90, 150, 240, 180, 223, 28],
            fillColor : "rgba(48, 164, 255, 0.2)",
            borderWidth: 1
          }
        ]
      },

      barChartOptions: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            barPercentage: 1,
            gridLines: {
              display: false,
              drawBorder: false,
              color: 'rgba(0, 0, 0, 0.1)'
            },
            ticks: {
                maxTicksLimit: 7
                  },
                maxBarThickness: 29,
          }],
          yAxes: [{
            gridLines: {
              display: true,
              color: 'rgba(0, 0, 0, 0.1)',
              zeroLineColor: "rgb(234, 236, 244)",
              drawBorder: false,
              borderDash: [2],
              zeroLineBorderDash: [2]
            },
            ticks: {
              beginAtZero: true,
              min: 0,
              max: 500,
              maxTicksLimit: 7,
            }
          }]
        }
      },
        
    }
  }
}
</script>

<style scoped>
.cascading-admin-card {
  margin: 20px 0;
}
.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}
.cascading-admin-card .admin-up .fas,
.cascading-admin-card .admin-up .far {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}
.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #fff;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
.text-gray-800 {
  color: #5a5c69 !important
}
</style>
