<template>
  <section id="barchart">

    <section>
        <mdb-row>

            <mdb-col>
                <mdb-card>
                    <mdb-card-header class="m-0 font-weight-bold text-dark text-gray-800">
                        Popular Books Genre
                    </mdb-card-header>
                        <mdb-card-body>
                          <div style="display: block">
                            <mdb-doughnut-chart :data="doughnutChartData" :options="doughnutChartOptions" :height="350"/>
                          </div>
                        </mdb-card-body>
                  </mdb-card>
          </mdb-col>

        </mdb-row>
    </section>
    
  </section>
</template>

<script>
import { 
  mdbCol,
  mdbRow,
  mdbCard,
  mdbCardHeader, 
  mdbCardBody, 
  mdbDoughnutChart,
  } from 'mdbvue'

export default {
  name: 'BarChart',
  components: {
    mdbRow,
    mdbCol,
    mdbCard,
    mdbCardHeader,
    mdbCardBody,
    mdbDoughnutChart,
  },
  data () {
    return {

        doughnutChartData: {
        labels: ['Technologies', 'Romance', 'Fictions'],
        datasets: [
          {
            data: [55, 30, 20],
            backgroundColor: ['#3f51b5', '#00bcd4', '#8bc34a'],
            hoverBackgroundColor: ['#2e59d9', '#03aabf', '#9dd161'],
            hoverBorderColor: "rgba(234, 236, 244, 1)",
          }
        ]
      },
      doughnutChartOptions: {
        cutoutPercentage: 70,
        responsive: true,
        maintainAspectRatio: false
      }
        
    }
  }
}
</script>

<style scoped>
.cascading-admin-card {
  margin: 20px 0;
}
.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}
.cascading-admin-card .admin-up .fas,
.cascading-admin-card .admin-up .far {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}
.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #fff;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
.text-gray-800 {
  color: #5a5c69 !important
}
</style>
