
/*Body*/

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #49b5e7;
}

a:hover {
  color: #76c7ed;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Calibri", sans-serif;
}

/*Header*/

#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 16px 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.20);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  padding-left: 1px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}

#header .logo a {
  color: #0f394c;
}

#header .logo img {
  max-height: 40px;
}

/*Navigation Menu*/


.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #0f394c;
  transition: 0.3s;
  font-size: 15px;
  font-family: "Calibri", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #ed4503;
}

/*Home-JumpingPage*/

#Home-JumpingPage {
  width: 100%;
  height: 80vh;
  background: #ffffff;
}

#Home-JumpingPage .container {
  padding-top: 84px;
}

#Home-JumpingPage h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 56px;
  color: #0f394c;
  text-transform: uppercase;
}

#Home-JumpingPage h2 {
  color: #1c698c;
  margin: 10px 0 0 0;
  font-size: 20px;
}

@media (max-width: 991px) {
  #Home-JumpingPage {
    height: 100vh;
    text-align: center;
  }
  #Home-JumpingPage .Home-JumpingPage-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #Home-JumpingPage h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #Home-JumpingPage h2 {
    font-size: 18px;
    line-height: 24px;
  }
  #Home-JumpingPage .Home-JumpingPage-img img {
    width: 100%;
  }
}

/*Section Title Page*/

section {
  padding: 60px 0;
}

.section-bg {
  background-color: #ffffff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: unset;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #0f394c;
}

.section-title p {
  margin-bottom: 0;
}

/* About Us */

.aboutus .aboutus-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.aboutus .aboutus-item img {
  transition: all ease-in-out 0.4s;
}

.aboutus .aboutus-item:hover img {
  transform: scale(1.1);
}

/* Services */

.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}

.services .icon-box:hover {
  transform: translateY(-5px);
}

.services .icon {
  position: absolute;
  left: -20px;
  top: calc(50% - 30px);
}

.services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

.services .title {
  margin-left: 23px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  text-align: center;
  color: #111;
}

.services .icon-box:hover .title a {
  text-align: center;
  color: #49b5e7;
}

.services .description {
  font-size: 13px;
  text-align: center;
  margin-left: 20px;
  line-height: 24px;
  margin-bottom: 0;
}

/* Blogs */

.blogs .blogs-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.blogs .blogs-item img {
  transition: all ease-in-out 0.4s;
}

/* Margin, Padding and Spacing */

.mt-0 {
  margin-top: 0 !important;
}

.ml-1 {
  margin-left: ($spacer * .25) !important;
}

.px-2 {
  padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important;
}

.p-3 {
  padding: $spacer !important;
}

/* Contact Us */

.contactus .contactus-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.contactus .info {
  width: 100%;
  background: #ffffff;
}

.contactus .info i {
  font-size: 20px;
  color: #49b5e7;
  float: left;
  width: 44px;
  height: 44px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contactus .info h4 {
  padding: 0 0 0 50px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #0f394c;
}

.contactus .info p {
  padding: 0 0 0 50px;
  margin-bottom: 0;
  font-size: 14px;
  color: #2079a1;
}

.contactus .info .email, .contactus .info .location {
  margin-top: 20px;
}

.contactus .info .email, .contactus .info .phone {
  margin-top: 20px;
}

.contactus .info .email, .contactus .info .email {
  margin-top: 20px;
}

.contactus .info .fb:hover i {
  background: #402d70;
  color: #fff;
}
.contactus .info .twitter:hover i {
  background: #402d70;
  color: #fff;
}

.contactus .info .instagram:hover i {
  background: #402d70;
  color: #fff;
}

.contactus .info .skype:hover i {
  background: #402d70;
  color: #fff;
}

.contactus .contactus-email-form .form-group {
  padding-bottom: 7px;
}

.contactus .contactus-email-form input {
  height: 44px;
}

.contactus .contactus-email-form textarea {
  padding: 10px 12px;
}

.contactus .contactus-email-form button {
  background: #402d70;
  border: 0;
  padding: 5px 20px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contactus .contactus-email-form button:hover {
  background: #1da2e0;
}