<template>
  <div class="flexible-content">

    <mdb-navbar class="flexible-navbar indigo" light position="top" scrolling> 
        <mdb-navbar-nav left>  
         <mdb-navbar-brand href="#">
             <a class="logo-wrapper">
             <img src="../assets/logo/os-logo.png" height="41" alt=""/>
             <img src="../assets/logo/libra-system.png" height="41" alt=""/>
             </a> 
         </mdb-navbar-brand>
        </mdb-navbar-nav>

      <mdb-navbar-toggler>
        <mdb-navbar-nav right>
          <div class="topbar-divider d-none d-sm-block"></div>
        <mdb-dropdown tag="li" class="nav-item">
          <mdb-dropdown-toggle  class="text-white" tag="a" navLink color="indigo" slot="toggle" waves-fixed>
            <mdb-icon fas class="text-white" icon="list-ul"/></mdb-dropdown-toggle>

          <mdb-dropdown-menu>
            <div class="dropdown-divider"></div>
             <mdb-dropdown-item><mdb-icon fas class="text-black text-gray-800" icon="sign-out-alt"/>  Logout</mdb-dropdown-item>
          </mdb-dropdown-menu>
        </mdb-dropdown>
      </mdb-navbar-nav>
      </mdb-navbar-toggler>
    </mdb-navbar>

    <div class="sidebar-fixed position-fixed">
      <a class="logo-wrapper"></a>
      <div class="dropdown-divider"></div>
      <br>
      <br>

      <mdb-list-group class="list-group-flush">
         <div class="dropdown-divider"></div>
         <br>
        <router-link to="/Dashboard" @click.native="activeItem = 2">
          <mdb-list-group-item  :action="true"  :class="activeItem === 2 && 'active'">
            <mdb-icon icon="tachometer-alt" class="mr-3"/> Dashboard</mdb-list-group-item>
        </router-link>

        <router-link to="/Patronmanagement" @click.native="activeItem = 3">
          <mdb-list-group-item :action="true" :class="activeItem === 3 && 'active'" >
            <mdb-icon icon="table" class="mr-3" />Patron Management</mdb-list-group-item >
        </router-link>

        <router-link to="/Bookmanagement" @click.native="activeItem = 4">
          <mdb-list-group-item :action="true" :class="activeItem === 4 && 'active'" >
            <mdb-icon icon="book-open" class="mr-3" />Book Management</mdb-list-group-item >
        </router-link>

        <router-link to="/Settings" @click.native="activeItem = 5">
          <mdb-list-group-item :action="true" :class="activeItem === 5 && 'active'" >
            <mdb-icon icon="cog" class="mr-3" />Settings</mdb-list-group-item >
        </router-link>

      </mdb-list-group>
    </div>
    <main>
      <div class="mt-5 p-5">
        <router-view></router-view>
      </div>
    </main>
  </div>
</template>

<script>
import {
  mdbNavbar,
  mdbNavbarNav,
  mdbNavbarBrand,
  mdbNavbarToggler,
  mdbDropdown,
  mdbDropdownMenu,
  mdbDropdownItem,
  mdbDropdownToggle, 
  mdbIcon,
  mdbListGroup,
  mdbListGroupItem,
  waves
} from "mdbvue";


export default {
  name: "LibrarySystem",
  components: {
    mdbNavbar,
    mdbNavbarNav,
    mdbNavbarBrand,
    mdbNavbarToggler,
    mdbDropdown,
    mdbDropdownMenu,
    mdbDropdownItem,
    mdbDropdownToggle, 
    mdbIcon,
    mdbListGroup,
    mdbListGroupItem,
  },
  data() {
    return {
      activeItem: 1
    };
  },
  beforeMount() {
    this.activeItem = this.$route.matched[0].props.default.page;
  },
  mixins: [waves]
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

main {
  color: #5a5c69;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  background-color: #fff;
}

.flexible-content {
  transition: padding-left 0.3s;
  padding-left: 270px;
}

.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 10px;
  background-color: #fff;
}

.sidebar-fixed {
  left: 0;
  top: 50px;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1000;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}

.sidebar-fixed .logo-wrapper img {
  width: 90%;
  padding: 2.5rem;
}

.sidebar-fixed .list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.sidebar-fixed .list-group .active {
  background-color: #3f51b5;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }
}
.flexible-navbar .topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
}
.text-gray-800 {
  color: #5a5c69 !important;
}
.dropdown-toggle:after {
 display: none;
}
</style>
