<template>
  <section id="bookmanagement">
    <h1 class="mb-sm-0 pt-2">
           <span class="h2 mb-0 text-gray-800">Book Management</span>
    </h1>
    <div class="dropdown-divider"></div>
      <mdb-btn class="btn btn-indigo btn-m m-1 text-gray-300" color="indigo" size="mm" @click="showAddBookModal = true">Add Books</mdb-btn>
          
          <!--Modal For Add Books -->
          <mdb-modal id="AddBook" :show="showAddBookModal" @close="showAddBookModal = false">
            <mdb-modal-header>
                <mdb-modal-title>Add Book</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>
              <div>
                <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" v-model="name" class="form-control form-control-md">
                </div>

                <div class="form-group">
                <label for="author">Author</label>
                <input type="text" id="author" v-model="author" class="form-control form-control-md">
                </div>

                <div class="form-group">
                <label for="copies">Copies</label>
                <input type="text" id="copies" v-model="copies" class="form-control form-control-md">
                </div>
                
                <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category"  v-model="category">
                    <option>--Select Category--</option>
                    <option value="Technologies">Technologies</option>
                    <option value="Romance">Romance</option>
                    <option value="Fictions">Fictions</option> 
                </select>
                </div>
              </div>

            </mdb-modal-body>
              <mdb-modal-footer>
                <mdb-btn class="btn btn-indigo btn-sm m-2" color="indigo" @click="AddBook=true">Add Book</mdb-btn>
              </mdb-modal-footer>
          </mdb-modal>

          <!--Modal For Update Books -->
          <mdb-modal id="UpdateBook" :show="showUpdateBookModal" @close="showUpdateBookModal = false">
            <mdb-modal-header>
                <mdb-modal-title>Add Book</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>
              <div>
                <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" v-model="name" class="form-control form-control-md">
                </div>

                <div class="form-group">
                <label for="author">Author</label>
                <input type="text" id="author" v-model="author" class="form-control form-control-md">
                </div>

                <div class="form-group">
                <label for="copies">Copies</label>
                <input type="text" id="copies" v-model="copies" class="form-control form-control-md">
                </div>
                
                <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category"  v-model="category">
                    <option>--Select Category--</option>
                    <option value="Technologies">Technologies</option>
                    <option value="Romance">Romance</option>
                    <option value="Fictions">Fictions</option> 
                </select>
                </div>
              </div>

            </mdb-modal-body>
              <mdb-modal-footer>
                <mdb-btn class="btn btn-indigo btn-sm m-2" color="indigo" @click="UpdateBook(SelectedBook)">Add Book</mdb-btn>
              </mdb-modal-footer>
          </mdb-modal>

        <!--Modal confirmation for Delete -->
          <mdb-modal :show="showBBDeleteModal" @close="showBBDeleteModal = false">
            <mdb-modal-header>
                <mdb-modal-title>Oops!</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>
              <p><span>Are you sure you want to delete the record?</span></p>
            </mdb-modal-body>
              <mdb-modal-footer>
                <mdb-btn outline="indigo" class="btn btn-indigo btn-sm m-2" color="indigo" @click.native="showBBDeleteModal = false">Cancel</mdb-btn>
                <mdb-btn class="btn btn-danger btn-sm m-0" color="danger" @click="DeleteBook(SelectedBook)">Delete</mdb-btn>
                </mdb-modal-footer>
          </mdb-modal>

  <mdb-row>
    <mdb-col md="12">

      <mdb-card cascade narrow class="mt-5">
          <mdb-view></mdb-view>
        <mdb-card-body>
            <div class="float-right">
                <mdb-form-inline class="mr-auto mb-4">
                Search: <input class="form-control mr-sm-2 ml-2" type="text" aria-label="Search" right/>
              </mdb-form-inline>
            </div>

          <mdb-tbl bordered hover responsive class="text-center">
                <mdb-tbl-head class="thead-light text-uppercase">
                  <tr>
                    <th>Action</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Copies</th>
                    <th>Category</th>
                  </tr>
                </mdb-tbl-head>
              <mdb-tbl-body>

                  <tr v-for="(Book, index) in BookModelFilter" :key="index">
                    <td>
                      <mdb-btn  class="text-white" tag="a" color="indigo" floating size="sm m-1" @click="ToBeUpdated(index)"  mdb-modal.@click="showUpdateBookModal = true" waves-fixed><mdb-icon icon="edit"/></mdb-btn>
                      <mdb-btn  class="text-white" tag="a" color="indigo" floating size="sm m-1" @click="showBBDeleteModal = true">
                      <mdb-icon icon="trash"/></mdb-btn>
                      <mdb-btn  class="text-white" tag="a" color="indigo" floating size="sm m-1" waves-fixed><mdb-icon icon="book"/></mdb-btn>
                      <mdb-btn  class="text-white" tag="a" color="indigo" floating size="sm m-1" waves-fixed><mdb-icon icon="reply"/></mdb-btn>
                    </td>
                    <td>{{ Book.name }}</td>
                    <td>{{ Book.author }}</td>
                    <td>{{ Book.copies }}</td>
                    <td>{{ Book.category }}</td>
                  </tr>

              </mdb-tbl-body>
          </mdb-tbl>  
        </mdb-card-body>
      </mdb-card>

  </mdb-col>
</mdb-row>

  </section>
</template>

<script src="@/assets/js/crudbook.js"></script>

<script>
import crudbook from '@/assets/js/crudbook.js'
export default crudbook;
</script>

<script>
import { 
  mdbRow, 
  mdbCol,
  mdbIcon, 
  mdbView,
  mdbBtn,
  mdbFormInline, 
  mdbCard,
  mdbCardBody, 
  mdbTbl, 
  mdbTblHead, 
  mdbTblBody,
  mdbModal, 
  mdbModalHeader, 
  mdbModalTitle, 
  mdbModalBody,
  mdbModalFooter, 
  } from 'mdbvue'

export default {
  name: 'BookManagement',
  components: {
    mdbRow, 
    mdbCol,
    mdbIcon, 
    mdbView,
    mdbBtn,
    mdbFormInline, 
    mdbCard,
    mdbCardBody, 
    mdbTbl, 
    mdbTblHead, 
    mdbTblBody,
    mdbModal, 
    mdbModalHeader, 
    mdbModalTitle, 
    mdbModalBody,
    mdbModalFooter, 
  },
  data () {
    return {
      showAddBookModal: false,
      showUpdateBookModal: false,
      showBBDeleteModal: false
    }
  }
}
</script>

<style scoped>
.card.card-cascade .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}
.card.card-cascade h3,
.card.card-cascade h4 {
  margin-bottom: 0;
}
.text-gray-100 {
  color: #f8f9fc !important
}

.text-gray-200 {
  color: #eaecf4 !important
}

.text-gray-300 {
  color: #dddfeb !important
}

.text-gray-400 {
  color: #d1d3e2 !important
}

.text-gray-500 {
  color: #b7b9cc !important
}

.text-gray-600 {
  color: #858796 !important
}

.text-gray-700 {
  color: #6e707e !important
}

.text-gray-800 {
  color: #5a5c69 !important
}

.text-gray-900 {
  color: #3a3b45 !important
}
</style>
