<template>
  <section id="dashboard">
    <h1 class="mb-sm-0 pt-2">
          <span class="h2 mb-0 text-gray-800">Dashboard</span>
    </h1>
  <div class="dropdown-divider"></div>

    <section>
      <mdb-row class="mt-5">
        
          <mdb-col md="7" class="mb-4">
              <mdb-card>
                  <mdb-card-body>
                     <BarChart :posts="posts" />
                  </mdb-card-body>
              </mdb-card>
          </mdb-col>
          
          <mdb-col md="5" class="mb-4">
              <mdb-card>
                <mdb-card-body>
                     <DoughnutChart :posts="posts" />
                </mdb-card-body> 
              </mdb-card>
        </mdb-col>

      </mdb-row>
    </section>
    
  </section>
</template>

<script>
import BarChart from "@/Charts/BarChart";
import DoughnutChart from "@/Charts/DoughnutChart";
import {  
    mdbCol,
    mdbRow,
    mdbCard,
  } from 'mdbvue'

export default {
  name: 'Dashboard',
  components: {
    mdbCol,
    mdbRow,
    mdbCard,
    BarChart,
    DoughnutChart,
  },
  data () {
    return {

    }
  }
}
</script>

<style scoped>
.cascading-admin-card {
  margin: 20px 0;
}
.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}
.cascading-admin-card .admin-up .fas,
.cascading-admin-card .admin-up .far {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}
.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #fff;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
.text-gray-800 {
  color: #5a5c69 !important
}
</style>
