<template>
  <section id="patronmanagement">
    <h1 class="mb-sm-0 pt-2">
          <span class="h2 mb-0 text-gray-800">Patron Management</span>
    </h1>
    <div class="dropdown-divider"></div>
      <mdb-btn class="btn btn-indigo btn-m m-1 text-gray-300" color="indigo" size="mm" @click="showaddPMModal = true">Add Patrons</mdb-btn>
        
        <!--Modal For Add Patrons -->
       <mdb-modal id="AddPatron" :show="showaddPMModal" @close="showaddPMModal = false">
            <mdb-modal-header>
                <mdb-modal-title>Add Patron</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>
              <div>
                <div class="form-group">
                <label for="PMFname">First Name</label>
                <input type="text" id="PMFname" v-model="PMFname" class="form-control form-control-md">
                </div>

                <div class="form-group">
                <label for="PFMname">Middle Name</label>
                <input type="text" id="PFMname" v-model="PFMname" class="form-control form-control-md">
                </div>

                <div class="form-group">
                <label for="PMLname">Last Name</label>
                <input type="text" id="PMLname" v-model="PMLname" class="form-control form-control-md">
                </div>
                
                <div class="form-group">
                <label for="PMEaddress">Email Address</label>
                <input type="text" id="PMEaddress" v-model="PMEaddress" class="form-control form-control-md">
                <small id="PMEaddress" class="form-text text-muted">Note: We'll never share your
                        email with anyone else.</small>
                </div>
              </div>

            </mdb-modal-body>
              <mdb-modal-footer>
                <mdb-btn class="btn btn-indigo btn-sm m-2" color="indigo" @click="AddPatron = true">Add Patron</mdb-btn>
                </mdb-modal-footer>
          </mdb-modal>

          <!--Modal For Update Patrons -->
       <mdb-modal id="UpdatePatron" :show="showPMupdateModal" @close="showPMupdateModal = false">
            <mdb-modal-header>
                <mdb-modal-title>Add Patron</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>
              <div>
                <div class="form-group">
                <label for="PMFname">First Name</label>
                <input type="text" id="PMFname" v-model="PMFname" class="form-control form-control-md">
                </div>

                <div class="form-group">
                <label for="PFMname">Middle Name</label>
                <input type="text" id="PFMname" v-model="PFMname" class="form-control form-control-md">
                </div>

                <div class="form-group">
                <label for="PMLname">Last Name</label>
                <input type="text" id="PMLname" v-model="PMLname" class="form-control form-control-md">
                </div>
                
                <div class="form-group">
                <label for="PMEaddress">Email Address</label>
                <input type="text" id="PMEaddress" v-model="PMEaddress" class="form-control form-control-md">
                <small id="PMEaddress" class="form-text text-muted">Note: We'll never share your
                        email with anyone else.</small>
                </div>
              </div>

            </mdb-modal-body>
              <mdb-modal-footer>
                <mdb-btn class="btn btn-indigo btn-sm m-2" color="indigo" @click="ToBeUpdated(SelectedPatron)">Add Patron</mdb-btn>
                </mdb-modal-footer>
          </mdb-modal>

        <!--Modal For Delete -->
        <mdb-modal :show="showPMDeleteModal" @close="showPMDeleteModal = false">
            <mdb-modal-header>
                <mdb-modal-title>Oops!</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>
              <p><span>Are you sure you want to delete the record?</span></p>
            </mdb-modal-body>
              <mdb-modal-footer>
                <mdb-btn outline="indigo" class="btn btn-indigo btn-sm m-2" color="indigo" @click="showPMDeleteModal = false">Cancel</mdb-btn>
                <mdb-btn class="btn btn-danger btn-sm m-0" color="danger" @click="DeletePatron(SelectedPatron)">Delete</mdb-btn>
              </mdb-modal-footer>
        </mdb-modal>

    <!--Contain -->
    <mdb-row>
      <mdb-col md="12">
        <mdb-card cascade narrow class="mt-5">
          
          <mdb-view></mdb-view>
          <mdb-card-body>
            <div class="float-right">
              <mdb-form-inline class="mr-auto mb-4">
                Search: <input class="form-control mr-sm-2 ml-2" type="text" aria-label="Search" right/>
              </mdb-form-inline>
            </div>

  <mdb-tbl responsive bordered hover class="text-center">
    <mdb-tbl-head class="thead-light text-uppercase text-gray-800">
      
      <tr>
        <th>Action</th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Date Registered</th>
      </tr>

    </mdb-tbl-head>
    <mdb-tbl-body>

                 <tr v-for="(Patron, index) in PatronModelFilter" :key="index">
                    <td>
                      <mdb-btn  class="text-white" tag="a" color="indigo" floating size="sm m-1" @click="ToBeUpdated(index)" mdb-modal.@click="showPMupdateModal = true" waves-fixed><mdb-icon icon="edit"/></mdb-btn>
                      <mdb-btn  class="text-white" tag="a" color="indigo" floating size="sm m-1" @click="showPMDeleteModal = true">
                      <mdb-icon icon="trash"/></mdb-btn>
                    </td>
                    <td>{{ Patron.PMFname }}</td>
                    <td>{{ Patron.PMMname }}</td>
                    <td>{{ Patron.PMLname }}</td>
                    <td>{{ Patron.PMEaddress }}</td>
                    <td>
                      {{
                        Patron.DateRegistered | dateFormat("DD MMMM, YYYY")
                      }}
                    </td>
                  </tr>

              </mdb-tbl-body>
            </mdb-tbl>
          </mdb-card-body>
        </mdb-card>
      </mdb-col>
    </mdb-row>

  </section>
</template>

<script src="@/assets/js/crudpatron.js"></script>

<script>
import crudpatron from '@/assets/js/crudpatron.js'
export default crudpatron;
</script>

<script>
import { 
  mdbRow, 
  mdbCol,
  mdbIcon,
  mdbView,
  mdbBtn, 
  mdbCard, 
  mdbCardBody, 
  mdbFormInline, 
  mdbTbl, 
  mdbTblHead, 
  mdbTblBody,
  mdbModal, 
  mdbModalHeader, 
  mdbModalTitle, 
  mdbModalBody,
  mdbModalFooter,
  } from 'mdbvue'

export default {
  name: 'PatronManagement',
  components: {
    mdbRow, 
    mdbCol,
    mdbIcon,
    mdbView,
    mdbBtn, 
    mdbCard, 
    mdbCardBody, 
    mdbFormInline, 
    mdbTbl, 
    mdbTblHead, 
    mdbTblBody,
    mdbModal, 
    mdbModalHeader, 
    mdbModalTitle, 
    mdbModalBody,
    mdbModalFooter,
  },
  data () {
    return {
      showaddPMModal: false,
      showPMupdateModal: false,
      showPMDeleteModal: false,

    }
  }
}
</script>

<style scoped>

.card.card-cascade .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}
.card.card-cascade h3,
.card.card-cascade h4 {
  margin-bottom: 0;
}

.card .card-header .card-title {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 1.725rem;
  line-height: 51px;
  font-weight: 900;
  content: '\f107';
  font-family: 'Font Awesome 5 Free'
}
 
.text-gray-100 {
  color: #f8f9fc !important
}

.text-gray-200 {
  color: #eaecf4 !important
}

.text-gray-300 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #dddfeb !important
}

.text-gray-400 {
  color: #d1d3e2 !important
}

.text-gray-500 {
  color: #b7b9cc !important
}

.text-gray-600 {
  color: #858796 !important
}

.text-gray-700 {
  color: #6e707e !important
}

.text-gray-800 {
  color: #5a5c69 !important
}

.text-gray-900 {
  color: #3a3b45 !important
}

</style>
