<template>
  <section id="settings">
    <h1 class="mb-sm-0 pt-2">
           <span class="h2 mb-0 text-gray-800">Settings</span>
    </h1>
    <div class="dropdown-divider"></div>

  </section>
</template>

